/****************
FONTS & TYPE
****************/
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900');

* {
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
}
.wrapper {
	opacity: 0;
	transition: all 1s ease;
}
/****************
HEADER
*****************/
#header {
	height: 100px;
	background-color: transparent;
	transition: all 1s ease;
	position: fixed;
	width: 100%;
	padding: 50px 60px;
	z-index: 999;
}
#header.active {
	height: 70px;
	background-color: #fff;
	padding: 15px 60px;
	border-bottom: 1px solid #eeeeee;
}
#header.active #nav li a {
	color: #444;
}
#header.active #nav li a:hover {
	color: #789;
}
#nav {
	padding:0;
	margin: 0;
	float: right;
	list-style: none;
}
#nav li {
	display: inline-block;
}
#nav li a {
	color: #fff;
	font-weight: 700;
	font-size: 13px;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 21px 13px 51px;
	transition: all 1s ease;
}
/****************
HERO
*****************/
#alpha {
	height: 100vh;
	background-image:url(img/bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
#alpha .container {
	max-width: 100%;
}
#hero h1 {
	text-align:center;
	color: #fff;
	font-size: 60px;
	position: relative;
	text-transform: uppercase;
	top: 250px;
	font-weight: 900;
	letter-spacing: 0.1em;
	transition: all 1s ease;
}

#about {
background-color: #f7f7f7;
}
#about .col-3 {
	padding: 50px 12px;
}
#about .image {
	width: 200px;
	height: 200px;
	border-radius: 100%;
	background-image: url(img/tim.jpg);
	margin: 0 auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
#about h2 {
	color: #444;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 800;
	letter-spacing: 1px;
}
#about h2 span {
	color: #444;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 800;
	letter-spacing: 1px;
}
#about p {
	color: #444;
	letter-spacing: .7px;
	line-height: 24px;
}
#services {
	background-color: #fff;
	text-align: center;
}
